
body{
    background-image: linear-gradient(45deg , #56CCF2, #2F80ED);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #6190E8;
    height: 100vh;
    width: 100vw;
    float: left;
 }
.container{
    width: 80%;
    margin-top:80px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0;
}
.headoftable{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* padding-top: 40px; */
    border-bottom: 1px solid #ddd;
    /* padding-bottom: 30px; */
    padding: 40px 2% 30px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(184, 195, 190, 0.18));

}
.col-1{
    width: 80%;
}
.textinchis{
    color: #88a7a5;
}
.textdeschis{
    color:#b8b9c9;
}
.col-2{
    position: absolute;
    right: 6%;
    top: 65px;
    
}
.tasks{
    width: 100%;
    padding-bottom: 25px;
}
#buton{
    background-color: #2F80ED;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 30px;
    padding-top: 17px;
}

.leftposition{
    float: left;
}
.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }
.container-table{
    padding-top: 40px;
}

.idtask{
    font-weight: bold;
    position: relative;
}
.titlutask{
    font-size: 18px;
    width: 75%;
}
.colorTask{
    color: #5F90D1;
}
/* #color{
    height:100%;
    width: 1px;
    background-color: white;
} */
.table>tbody>tr>td {
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
}
.stillactive:hover{
    background-color: rgba(223, 236, 231, 0.18);
}
.deadlinetask{
    padding-top: 5px;
    font-size: 12px;
}
.ingrosat{
    font-weight: bold;
}
.operatii{
  text-align: center;
}
.finish{
    background-color:rgba(52, 129, 215, 0.44);
    color: white;

}
.finish .textdeschis, .finish .idtask{
    color: white;
}
.content-formular{
    width: 90%;
    margin: 30px 2%;
}
.formular{
    margin-top: 20px;
}
.date{
    padding: 2px;
}
.hidden-date{
    display:none;
  }
/* priority pictogram */
.stick{
    display: block;
    width: 3px;
    background-color: blue;
    /* margin-right: 3px; */
    position: absolute;
    bottom: 0;
    float: left;
    margin-bottom: 20px;
    margin-left: 10px;
    
}
.stick-0{
    height: 7px;
    left: 10px;
}
.stick-1{
    height: 10px;
    left: 15px;
}
.stick-2{
    height: 14px;
    left: 20px;
}
@media only screen and (max-width: 425px) {
    .hidden-date{
      display:block;
    }
    .hidden-task{
        display: none;
    }
    .col-2{
        top: 165px;
    }
  }